@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

.header {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)), url(../resources/img/background.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  border-radius: 5rem 5rem 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.header .nav-box {
  color: #222;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.header .nav-box .nav__title {
  width: 20vw;
  margin: 3rem 0 0 3rem;
}
.header .nav-box .nav__title--anim {
  animation: text-shadow 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header .nav-box .nav__items {
  margin: 3rem 3rem 0 0;
  text-transform: uppercase;
  display: flex;
}
.header .nav-box .nav__items:hover a {
  transform: scale(0.8);
}
.header .nav-box .nav__items:hover a:hover {
  transform: scale(1.1);
  color: #222;
  border-bottom-style: solid;
  border-bottom-width: 0.3rem;
  border-bottom-color: #e74c3c;
}
.header .nav-box .nav__items:hover a:hover:last-child {
  border-right-color: #444444;
}
.header .nav-box .nav__items a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right-color: #444;
  border-right-style: solid;
  border-right-width: 0.5rem;
}
.header .nav-box .nav__items a:last-child {
  border-right-color: rgba(68, 68, 68, 0);
}
.header .title-checkbox {
  display: none;
}
.header .title-checkbox:checked + .header__content {
  filter: opacity(1);
}
.header__content {
  transition: all 1s;
  margin-top: 20rem;
  filter: opacity(0);
  font-size: 10rem;
}
.header__content--hidden {
  display: none;
}

.web {
  margin-top: -25vh;
  background-color: #ddd;
}
.web__cards-box {
  padding-top: 30vh;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.web__cards-box .card {
  width: 20rem;
  height: 35rem;
  background-color: #999;
  color: #222;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: all 0.4s;
}
.web__cards-box .card:hover {
  background-color: #444;
  cursor: pointer;
  color: #ddd;
}
.web__cards-box .card-title {
  margin-top: 2rem;
}
.web__cards-box .card__img-box {
  margin-top: 3rem;
  width: 100%;
  height: 15rem;
  overflow: hidden;
}
.web__cards-box .card__img-box .card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  transition: all 0.4s;
}
.web__cards-box .card__img-box .card-image:hover {
  transform: scale(1.2);
}
.web__cards-box .card__img-box .card-image--position1 {
  object-position: 50% 38%;
}
.web__cards-box .card__img-box .card-image--position3 {
  object-position: 50% 38%;
}
.web__cards-box .card-context {
  margin: 2rem 0 0 1rem;
}

@keyframes text-shadow {
  from {
    text-shadow: 0 0 1rem #fff;
  }
  to {
    text-shadow: 0 0 1rem #000;
  }
}

/*# sourceMappingURL=main.css.map */
